*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  /* clip-path: inset(50%); */
  margin: -1px;
}

@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Clear Sans'), url('../fonts/clearsans.woff2') format('woff2'),
    url('../fonts/clearsans.woff') format('woff');
}

@font-face {
  font-family: 'Clear Sans';
  font-weight: 700;
  src: local('Clear Sans'), url('../fonts/clearsansbold.woff2 ') format('woff2'),
    url('../fonts/clearsansbold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: local('Cuprum Regular'), local('Cuprum-Regular'),
    url('../fonts/cuprum-v12-latin_cyrillic-regular.woff2') format('woff2'),
    url('../fonts/cuprum-v12-latin_cyrillic-regular.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

.body {
  font-family: 'Clear Sans', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.section {
  text-align: center;
  padding: 10px 0;
}

.main {
  overflow: hidden;
}

.button {
  padding: 12px 40px 15px;
  background-color: #ffffff;
  color: #1ab0ce;
  border: 1px solid #1ab0ce;
  border-radius: 2px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.button:active,
.button:hover {
  background-color: #1ab0ce;
  color: #ffffff;
}

.title {
  font-size: 36px;
  line-height: 42px;
  color: #3a4047;
  margin: 0;
}

.body {
  position: relative;
}

/* LOGO */
.logo {
  width: 258px;
  height: 77px;
}

.logo__svg {
  display: block;
  height: 100%;
  width: 100%;
}

/* CART */
.cart {
  height: 44px;
  width: 44px;
}
.cart__svg {
  fill: #fff;
  display: block;
  height: 100%;
  width: 100%;
}

/* CABINET */
.cabinet {
  width: 12px;
  height: 13px;
}

.cabinet__title {
  color: #3a4047;
}

.cabinet__svg {
  fill: #fff;
  display: block;
  height: 100%;
  width: 100%;
}

.header__email {
  color: #3a4047;
}

/* FACEBOOK */
.facebook {
  width: 13px;
  height: 22px;
  cursor: pointer;
}

.facebook__svg {
  fill: #fff;
  display: block;
  height: 100%;
  width: 100%;
}

/* PHONE */
.phone {
  margin-right: 20px;
  width: 22px;
  height: 22px;
}

.header__phone-list .phone {
  width: 26px;
  height: 26px;
}

.phone__svg {
  fill: #fff;
  stroke: #3a4047;
  display: block;
  height: 100%;
  width: 100%;
}

/* SEARCH */
.search {
  width: 18px;
  height: 18px;
}

.search__svg {
  fill: #fff;
  stroke: #3a4047;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-transition: stroke 0.3s linear;
  -o-transition: stroke 0.3s linear;
  transition: stroke 0.3s linear;
}

/* CALLBACK */
.callback {
  background: #1ab0ce;
  height: 108px;
  width: 108px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
}

.callback__top {
  right: 1%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.callback__bottom {
  right: 1%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.callback__phone {
  margin: 0;
}

.callback__phone .phone__svg {
  fill: #1ab0ce;
  stroke: #ffffff;
}

.callback__text {
  padding: 0 5px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}

/* HEADER */

.header__upper-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 0 12px;
}

.header__info {
  width: 375px;
  text-align: center;
}

.header__about {
  font-size: 16px;
  line-height: 19px;
  margin: 0 0 11px;
}
.header__working-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.header__box {
  width: 324px;
}

.header__inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 0 20px;
}

.header__cabinet-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__cabinet {
  margin-right: 7px;
}

.contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.contacts__box-icon {
  margin-right: 21px;
}

.phone-box {
  position: relative;
  z-index: 999;
}

.header__phone-list {
  padding: 20px 24px;
  width: 220px;
  position: absolute;
  background-color: #fff;
  margin: 0;
  z-index: 1000;
  right: -9px;
  -webkit-filter: drop-shadow(0px 4px 45px rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0px 4px 45px rgba(0, 0, 0, 0.15));
}
.header__phone-list:after {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 6px;
  background-color: #fff;
}

.header .header__phone-list {
  top: 135%;
}

.header .header__phone-list:after {
  top: 0;
}

.footer .header__phone-list {
  bottom: 135%;
}

.footer .header__phone-list:after {
  bottom: 0;
}

.header__phones {
  list-style: none;
}

.header__phone-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
}

.phone__text {
  width: 130px;
  font-size: 16px;
  line-height: 19px;
  color: #3a4047;
}

.header__phone--is-active .phone__text {
  font-weight: 700;
  margin-right: 10px;
}

.phone-list__btn {
  cursor: pointer;
  background-color: #ededed;
  border: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.btn__svg {
  fill: #ededed;
  stroke: #3a4047;
  display: block;
  width: 10px;
  height: 6px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.phone-list__btn:hover .btn__svg {
  stroke: #1ab0ce;
}

.btn__svg--rotate {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.dropdownvisible {
  height: 200px;
  overflow-y: scroll;
}

.header__phone-option {
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.cart__quantity {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #1ab0ce;
  border-radius: 50%;
  top: -20%;
  right: -40%;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

.header__menu-box {
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
}

.header__menu-item {
  padding: 17px 0;
  position: relative;
  border-top: 1px solid rgba(26, 176, 206, 0);
  -webkit-transition: border-top 0.3s linear;
  -o-transition: border-top 0.3s linear;
  transition: border-top 0.3s linear;
}

.header__menu-item:not(:first-child) {
  padding-left: 30px;
}

.header__menu-item:not(:last-child) {
  padding-right: 30px;
}

.header__menu-item:hover {
  border-top: 1px solid #1ab0ce;
}

.header__menu-item:hover .header__link {
  color: #1ab0ce;
}

.header__menu-item:hover .search__svg {
  stroke: #1ab0ce;
}

.header__menu-item:not(:last-child):after {
  content: '';
  display: block;
  width: 1px;
  height: 16px;
  background-color: #e8edf2;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  transform: translatey(-50%);
}

.header__link {
  text-decoration: none;
  color: #3a4047;
  font-weight: 700;
  -webkit-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

/* SECTION OFFER */
.offer {
  background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.5))
    ),
    url(../image/bg.jfif);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/bg.jfif);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../image/bg.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 153px 0 141px;
  color: #ffffff;
}

.offer-box {
  text-align: center;
}

.offer__title {
  font-weight: 700;
  font-size: 57px;
  line-height: 67px;
  margin-bottom: 15px;
}

.offer__title:after {
  content: '';
  display: block;
  height: 2px;
  width: 120px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10px;
}

.offer__content {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 27px;
}

.offer__button {
  background-color: #1ab0ce;
  color: #ffffff;
}

.offer__button:active,
.offer__button:hover {
  background-color: #ffffff;
  color: #1ab0ce;
}

/* SECTION PRODUCTIONS */

.productions {
  position: relative;
}

.productions__title {
  margin-top: 19px;
  margin-bottom: 44px;
}

.productions__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.productions__item {
  width: 32%;
  border: 1px solid #dce1e6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 29px;
}

.productions__item-img {
  width: 30%;
}

.production__title {
  text-align: left;
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #3a4047;
}

.productions__list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.production__list {
  list-style: none;
  text-align: left;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  color: #3a4047;
}

.production__list:not(:last-child) {
  margin-right: 40px;
}

.production__item:not(:last-child) {
  margin-bottom: 24px;
}

.office {
  height: 62px;
  width: 52px;
}

.advertising {
  height: 62px;
  width: 62px;
}

.business {
  height: 62px;
  width: 46px;
}

.productions__list svg {
  display: block;
  height: 100%;
  width: 100%;
}

/* SECTION ABOUT */
.about {
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 13px;
}

.about__offer {
  font-size: 24px;
  line-height: 28px;
  color: #3a4047;
  margin-bottom: 34px;
}

.about__content {
  font-family: 'Clear Sans', sans-serif;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  color: #3a4047;
}

/* SECTION NEWS */
.news {
  padding-bottom: 49px;
  position: relative;
}

.news__title {
  margin-top: 33px;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0;
  margin-bottom: 51px;
}

.news__item {
  padding: 30px 20px 40px;
  list-style: none;
  width: 33.3%;
  cursor: pointer;
}

.news__item-date {
  color: #bec7d1;
  margin: 0 0 14px;
}

.news__item-content {
  font-size: 16px;
  line-height: 19px;
  color: #3a4047;
}

.news__item:hover {
  -webkit-box-shadow: 0px -1px 0px #1ab0ce, 0px 14px 24px rgba(0, 0, 0, 0.05);
  box-shadow: 0px -1px 0px #1ab0ce, 0px 14px 24px rgba(0, 0, 0, 0.05);
}

.news__buuton {
  padding: 6px 21px 9px;
}

/* FOOTER */
.footer {
  padding: 20px 0 24px;
  background: #f7f7f7;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__logo {
  margin-bottom: 14px;
}
.footer__right {
  font-size: 14px;
  line-height: 16px;
  color: #3a4047;
}

.footer__about-box {
  max-width: 261px;
}

.footer__about-box-paragraph {
  margin: 12px 0 30px;
  font-size: 14px;
  line-height: 21px;
  color: #3a4047;
}

.footer__about-box-paragraph:first-child {
  font-family: 'Roboto', sans-serif;
}

.footer__about-box-paragraph:last-child {
  margin: 0;
}

.footer__menu-box {
  font-family: 'Roboto', sans-serif;
  padding: 15px 0 10px 20px;
  margin: 0;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__menu-item {
  width: 49%;
}

.footer__menu-item a {
  font-size: 14px;
  line-height: 21px;
  color: #3a4047;
}

.footer__menu-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 20px;
}

.footer__contacts-box {
  max-width: 255px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.glyanetc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.glyanetc__img {
  margin-right: 2px;
}

.glyanetc__logo {
  font-family: 'Cuprum', sans-serif;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #3a4047;
}

.contacts__link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #3a4047;
}

@media screen and (max-width: 1440px) {
  .callback__bottom {
    display: none;
  }
}
